local.properties
.gradle/7.2/fileHashes/fileHashes.bin
.gradle/7.2/fileHashes/fileHashes.lock
.gradle/7.2/fileHashes/resourceHashesCache.bin
.idea/libraries/Gradle__androidx_activity_activity_1_2_4_aar.xml
.idea/libraries/Gradle__androidx_annotation_annotation_1_3_0.xml
.idea/libraries/Gradle__androidx_annotation_annotation_experimental_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_1_4_1_aar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_4_1_aar.xml
.idea/libraries/Gradle__androidx_arch_core_core_common_2_1_0.xml
.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_1_0_aar.xml
.idea/libraries/Gradle__androidx_asynclayoutinflater_asynclayoutinflater_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_cardview_cardview_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_collection_collection_1_1_0.xml
.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_2_0_1_aar.xml
.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_solver_2_0_1.xml
.idea/libraries/Gradle__androidx_coordinatorlayout_coordinatorlayout_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_core_core_1_7_0_aar.xml
.idea/libraries/Gradle__androidx_cursoradapter_cursoradapter_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_customview_customview_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_documentfile_documentfile_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_1_1_aar.xml
.idea/libraries/Gradle__androidx_dynamicanimation_dynamicanimation_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_fragment_fragment_1_3_6_aar.xml
.idea/libraries/Gradle__androidx_interpolator_interpolator_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_legacy_legacy_support_core_ui_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_legacy_legacy_support_core_utils_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_legacy_legacy_support_v4_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_3_1.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_4_0.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_4_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_savedstate_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_loader_loader_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_localbroadcastmanager_localbroadcastmanager_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_media_media_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_print_print_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_recyclerview_recyclerview_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_savedstate_savedstate_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_slidingpanelayout_slidingpanelayout_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_swiperefreshlayout_swiperefreshlayout_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_transition_transition_1_2_0_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_animated_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_1_aar.xml
.idea/libraries/Gradle__androidx_viewpager_viewpager_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_viewpager2_viewpager2_1_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_material_material_1_5_0_aar.xml
.idea/libraries/Gradle__junit_junit_4_12.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
molpayxdk/build/.transforms/3dd35c4685ba75bf1b289e95bce55463/results.bin
molpayxdk/build/.transforms/3dd35c4685ba75bf1b289e95bce55463/transformed/desugar_graph.bin
molpayxdk/build/.transforms/3dd35c4685ba75bf1b289e95bce55463/transformed/debug/com/molpay/molpayxdk/BuildConfig.dex
molpayxdk/build/.transforms/3dd35c4685ba75bf1b289e95bce55463/transformed/debug/com/molpay/molpayxdk/MOLPayActivity$1.dex
molpayxdk/build/.transforms/3dd35c4685ba75bf1b289e95bce55463/transformed/debug/com/molpay/molpayxdk/MOLPayActivity$MPBankUIWebClient.dex
molpayxdk/build/.transforms/3dd35c4685ba75bf1b289e95bce55463/transformed/debug/com/molpay/molpayxdk/MOLPayActivity$MPMainUIWebClient.dex
molpayxdk/build/.transforms/3dd35c4685ba75bf1b289e95bce55463/transformed/debug/com/molpay/molpayxdk/MOLPayActivity$MPMOLPayUIWebChromeClient$1.dex
molpayxdk/build/.transforms/3dd35c4685ba75bf1b289e95bce55463/transformed/debug/com/molpay/molpayxdk/MOLPayActivity$MPMOLPayUIWebChromeClient.dex
molpayxdk/build/.transforms/3dd35c4685ba75bf1b289e95bce55463/transformed/debug/com/molpay/molpayxdk/MOLPayActivity$MPMOLPayUIWebClient$1.dex
molpayxdk/build/.transforms/3dd35c4685ba75bf1b289e95bce55463/transformed/debug/com/molpay/molpayxdk/MOLPayActivity$MPMOLPayUIWebClient.dex
molpayxdk/build/.transforms/3dd35c4685ba75bf1b289e95bce55463/transformed/debug/com/molpay/molpayxdk/MOLPayActivity.dex
molpayxdk/build/.transforms/9ab5df3c3f985f2808b70f44db2e591c/results.bin
molpayxdk/build/.transforms/9ab5df3c3f985f2808b70f44db2e591c/transformed/classes/classes.dex
molpayxdk/build/.transforms/c59759f22b36d830573c3c5ff076dad5/results.bin
molpayxdk/build/generated/source/buildConfig/debug/com/molpay/molpayxdk/BuildConfig.java
molpayxdk/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/AndroidManifest.xml
molpayxdk/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/output-metadata.json
molpayxdk/build/intermediates/aar_main_jar/debug/classes.jar
molpayxdk/build/intermediates/aar_metadata/debug/aar-metadata.properties
molpayxdk/build/intermediates/annotation_processor_list/debug/annotationProcessors.json
molpayxdk/build/intermediates/annotations_typedef_file/debug/typedefs.txt
molpayxdk/build/intermediates/compile_library_classes_jar/debug/classes.jar
molpayxdk/build/intermediates/compile_r_class_jar/debug/R.jar
molpayxdk/build/intermediates/compile_symbol_list/debug/R.txt
molpayxdk/build/intermediates/compiled_local_resources/debug/out/layout_activity_molpay.xml.flat
molpayxdk/build/intermediates/compiled_local_resources/debug/out/menu_menu_molpay.xml.flat
molpayxdk/build/intermediates/incremental/debug-mergeJavaRes/merge-state
molpayxdk/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
molpayxdk/build/intermediates/incremental/mergeDebugShaders/merger.xml
molpayxdk/build/intermediates/incremental/packageDebugAssets/merger.xml
molpayxdk/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
molpayxdk/build/intermediates/incremental/packageDebugResources/merger.xml
molpayxdk/build/intermediates/incremental/packageDebugResources/merged.dir/values/values.xml
molpayxdk/build/intermediates/incremental/packageDebugResources/merged.dir/values-w820dp-v13/values-w820dp-v13.xml
molpayxdk/build/intermediates/javac/debug/classes/com/molpay/molpayxdk/BuildConfig.class
molpayxdk/build/intermediates/javac/debug/classes/com/molpay/molpayxdk/MOLPayActivity$1.class
molpayxdk/build/intermediates/javac/debug/classes/com/molpay/molpayxdk/MOLPayActivity$MPBankUIWebClient.class
molpayxdk/build/intermediates/javac/debug/classes/com/molpay/molpayxdk/MOLPayActivity$MPMainUIWebClient.class
molpayxdk/build/intermediates/javac/debug/classes/com/molpay/molpayxdk/MOLPayActivity$MPMOLPayUIWebChromeClient$1.class
molpayxdk/build/intermediates/javac/debug/classes/com/molpay/molpayxdk/MOLPayActivity$MPMOLPayUIWebChromeClient.class
molpayxdk/build/intermediates/javac/debug/classes/com/molpay/molpayxdk/MOLPayActivity$MPMOLPayUIWebClient$1.class
molpayxdk/build/intermediates/javac/debug/classes/com/molpay/molpayxdk/MOLPayActivity$MPMOLPayUIWebClient.class
molpayxdk/build/intermediates/javac/debug/classes/com/molpay/molpayxdk/MOLPayActivity.class
molpayxdk/build/intermediates/local_only_symbol_list/debug/R-def.txt
molpayxdk/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
molpayxdk/build/intermediates/merged_java_res/debug/feature-molpayxdk.jar
molpayxdk/build/intermediates/merged_manifest/debug/AndroidManifest.xml
molpayxdk/build/intermediates/navigation_json/debug/navigation.json
molpayxdk/build/intermediates/packaged_manifests/debug/output-metadata.json
molpayxdk/build/intermediates/packaged_res/debug/layout/activity_molpay.xml
molpayxdk/build/intermediates/packaged_res/debug/menu/menu_molpay.xml
molpayxdk/build/intermediates/packaged_res/debug/values/values.xml
molpayxdk/build/intermediates/packaged_res/debug/values-w820dp-v13/values-w820dp-v13.xml
molpayxdk/build/intermediates/runtime_library_classes_dir/debug/com/molpay/molpayxdk/BuildConfig.class
molpayxdk/build/intermediates/runtime_library_classes_dir/debug/com/molpay/molpayxdk/MOLPayActivity$1.class
molpayxdk/build/intermediates/runtime_library_classes_dir/debug/com/molpay/molpayxdk/MOLPayActivity$MPBankUIWebClient.class
molpayxdk/build/intermediates/runtime_library_classes_dir/debug/com/molpay/molpayxdk/MOLPayActivity$MPMainUIWebClient.class
molpayxdk/build/intermediates/runtime_library_classes_dir/debug/com/molpay/molpayxdk/MOLPayActivity$MPMOLPayUIWebChromeClient$1.class
molpayxdk/build/intermediates/runtime_library_classes_dir/debug/com/molpay/molpayxdk/MOLPayActivity$MPMOLPayUIWebChromeClient.class
molpayxdk/build/intermediates/runtime_library_classes_dir/debug/com/molpay/molpayxdk/MOLPayActivity$MPMOLPayUIWebClient$1.class
molpayxdk/build/intermediates/runtime_library_classes_dir/debug/com/molpay/molpayxdk/MOLPayActivity$MPMOLPayUIWebClient.class
molpayxdk/build/intermediates/runtime_library_classes_dir/debug/com/molpay/molpayxdk/MOLPayActivity.class
molpayxdk/build/intermediates/runtime_library_classes_jar/debug/classes.jar
molpayxdk/build/intermediates/symbol_list_with_package_name/debug/package-aware-r.txt
molpayxdk/build/outputs/aar/molpayxdk-debug.aar
molpayxdk/build/outputs/logs/manifest-merger-debug-report.txt
molpayxdk/build/tmp/compileDebugJavaWithJavac/previous-compilation-data.bin
.idea/misc.xml
.idea/modules/app/Mobile-XDK-RazerMS_Android_Library.app.androidTest.iml
.idea/modules/app/Mobile-XDK-RazerMS_Android_Library.app.iml
.idea/modules/app/Mobile-XDK-RazerMS_Android_Library.app.main.iml
.idea/modules/app/Mobile-XDK-RazerMS_Android_Library.app.unitTest.iml
.idea/modules/molpayxdk/Mobile-XDK-RazerMS_Android_Library.molpayxdk.androidTest.iml
.idea/modules/molpayxdk/Mobile-XDK-RazerMS_Android_Library.molpayxdk.iml
.idea/modules/molpayxdk/Mobile-XDK-RazerMS_Android_Library.molpayxdk.main.iml
.idea/modules/molpayxdk/Mobile-XDK-RazerMS_Android_Library.molpayxdk.unitTest.iml
.gradle/7.2/executionHistory/executionHistory.bin
.gradle/7.2/executionHistory/executionHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/checksums/checksums.lock
.gradle/checksums/md5-checksums.bin
.gradle/checksums/sha1-checksums.bin
.idea/compiler.xml
.idea/gradle.xml
