local.properties
.gradle/*
.idea/*
paymentxdk/build/*
paymentxdk/.idea/*
MOLPayXDKProject/.gradle/
MOLPayXDKProject/.idea/
MOLPayXDKProject/app/build/
MOLPayXDKProject/paymentxdk/build/
MOLPayXDKProject/java_pid16100.hprof
MOLPayXDKProject/key.properties
app/release/
