Android requirements
====================

app: build.gradle

// Only on Maven (https://bintray.com/)
repositories {
    maven {
        url 'https://dl.bintray.com/molpay/maven'
    }
}

dependencies {
    compile 'com.molpay:molpay-mobile-xdk-android:1.0.0'
}




Test Data (app > MainActivity)
------------------------------------
HashMap<String, Object> paymentDetails = new HashMap<>();
        paymentDetails.put(MOLPayActivity.mp_amount, "1.10");
        paymentDetails.put(MOLPayActivity.mp_username, "molpayapi");
        paymentDetails.put(MOLPayActivity.mp_password, "*M0Lp4y4p1!*");
        paymentDetails.put(MOLPayActivity.mp_merchant_ID, "molpaymerchant");
        paymentDetails.put(MOLPayActivity.mp_app_name, "wilwe_makan2");
        paymentDetails.put(MOLPayActivity.mp_order_ID, "XP012");
        paymentDetails.put(MOLPayActivity.mp_currency, "MYR");
        paymentDetails.put(MOLPayActivity.mp_country, "MY");
        paymentDetails.put(MOLPayActivity.mp_verification_key, "501c4f508cf1c3f486f4f5c820591f41");
        paymentDetails.put(MOLPayActivity.mp_channel, "");
        paymentDetails.put(MOLPayActivity.mp_bill_description, "X-Platform debug");
        paymentDetails.put(MOLPayActivity.mp_bill_name, "Developer");
        paymentDetails.put(MOLPayActivity.mp_bill_email, "clewlb@gmail.com");
        paymentDetails.put(MOLPayActivity.mp_bill_mobile, "1234567");
        paymentDetails.put(MOLPayActivity.mp_channel_editing, false);
        paymentDetails.put(MOLPayActivity.mp_editing_enabled, false);
        paymentDetails.put(MOLPayActivity.mp_transaction_id, "");//6713246
        paymentDetails.put(MOLPayActivity.mp_request_type, "");